.cafe-mocha {
    text-align: center;

}

.cafe-mocha-blanco {
    text-align: center;

}

.cafe-cappuccino {
    text-align: center;

}

.cafe-cinnamon-dolce-latte {
    text-align: center;
 
}

.cafe-cocoa-cappuccino {
    text-align: center;
  
}

.cafe-dulce-leche-latte {
    text-align: center;
  
}

.cafe-flat-white {
    text-align: center;
  
}

.cafe-latte {
    text-align: center;

}

.cafe-latte-macchiato {
    text-align: center;

}

.cafe-vainilla-latte {
    text-align: center;

}

.cafe-skinny-vainilla-latte {
    text-align: center;
 
}

.cafe-caramel-macchiato {
    text-align: center;
   
}

.cafe-skinny-caramel-macchiato {
    text-align: center;

}

.cafe-cortado {
    text-align: center;
 
}

.cafe-expresso {
    text-align: center;

}

.cafe-espresso-dopio {
    text-align: center;

}

.cafe-espresso-lungo {
    text-align: center;

}

.cafe-espresso-panna {
    text-align: center;

}

.cafe-espresso-macchiato {
    text-align: center;

}

.cafe-mocha img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-mocha-blanco img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-cappuccino img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-cinnamon-dolce-latte img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-cocoa-cappuccino img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-dulce-leche-latte img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-flat-white img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-latte img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-latte-macchiato img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-vainilla-latte img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-skinny-vainilla-latte img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-caramel-macchiato img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-skinny-caramel-macchiato img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-cortado img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-expresso img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-espresso-dopio img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-espresso-lungo img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-espresso-panna img {
    padding-top: 1px;
    padding-bottom: 10px;
}

.cafe-espresso-macchiato img {
    padding-top: 1px;
    padding-bottom: 10px;
}